src/main/mule/zip-unzip.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:compression="http://www.mulesoft.org/schema/mule/compression"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/compression http://www.mulesoft.org/schema/mule/compression/current/mule-compression.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="859fd394-60b9-42a6-bf36-ccec020520d0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="zip-flow" doc:id="dc0d6155-c6d7-4acd-9fde-d16b1afb1041" >
		<http:listener doc:name="Listener" doc:id="fa9d38e7-e8dd-48fb-98f6-bcd36c217d08" config-ref="HTTP_Listener_config" path="/zip"/>
		<logger level="INFO" doc:name="Log Start" doc:id="f54a3fbf-c008-44c6-9c7d-a909d90064ad" message="Start" category="Start"/>
		<file:list doc:name="List" doc:id="6db2e7c7-7b5d-41ae-b285-034518e46f0a" config-ref="File_Config" directoryPath="${path.input.unzipped}"/>
		<ee:transform doc:name="Transform Message" doc:id="b0f0675b-5384-47b2-aa01-758169868e08" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{(payload map {
	($.attributes.name): $.payload
})}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<compression:archive doc:name="Archive" doc:id="2c9efb17-03ae-4156-9f21-c7b74e39b89f" >
			<compression:archiver >
				<compression:zip-archiver />
			</compression:archiver>
		</compression:archive>
		<file:write doc:name="Write" doc:id="6afd289d-b95f-4541-93d3-f721265ae774" config-ref="File_Config" path="#[Mule::p('path.output.zipped') ++ &quot;\\&quot; ++ &quot;zipped-file.zip&quot;]"/>
		<logger level="INFO" doc:name="Log End" doc:id="b752211f-c99f-426b-be77-77423164f9d9" message="End" category="END"/>
	</flow>
	<flow name="unzip-flow" doc:id="64369897-9181-47f0-a14b-94216d1cb0ac" >
		<file:listener doc:name="On New or Updated File" doc:id="96ac862c-aba1-4027-9993-87356df6e568" config-ref="File_Config" directory="${path.input.zipped}" autoDelete="true">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Log Start" doc:id="30539f8c-f758-4056-9e9d-c2629d63e197" message="Start" category="START"/>
		<compression:extract doc:name="Extract" doc:id="8dad52b2-1b16-4bea-b11d-f37166e63c04" >
			<compression:extractor >
				<compression:zip-extractor />
			</compression:extractor>
		</compression:extract>
		<ee:transform doc:name="Transform Message" doc:id="b8c09ba0-f552-4766-b4ce-315537dc854a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
import substringAfter from dw::core::Strings
---
payload pluck {
	fileName: substringAfter($$,"/"),
	content: $
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="fa8f5168-2c6a-4427-aaf4-3b01ef9a9e06" collection="#[payload]">
			<file:write doc:name="Write" doc:id="9e6117e1-8792-4b32-bac2-f1427249189c" config-ref="File_Config" path="#[Mule::p('path.output.unzipped') ++ &quot;\\&quot; ++ payload.fileName]">
				<file:content ><![CDATA[#[payload.content]]]></file:content>
			</file:write>
		</foreach>
		<logger level="INFO" doc:name="Log End" doc:id="99915381-60f7-4714-810d-2b8d9c3848d4" message="End" category="END"/>
	</flow>
</mule>
